<ion-view view-title="Sales Orders" >
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
      <div class="row">
      	<div class="col">
      		<h1><i class="fa fa-pencil-square-o"></i></h1>
      	</div>
      	<div class="col col-90">
      		<h1>{{playlist.title}}</h1>	
      		<div>
      			<ul>
      				<li>Power Drill</li>
      				<li>1100 W</li>
      				<li>Electronic</li>
      			</ul>
      		</div>
      	</div>
      </div>
      </ion-item>
    </ion-list>
    <!-- <div id="chat_tab">
      	<div id="chat_button">Chat tab <i class="icon ion-chatboxes"></i></div>
    </div> -->

    <div class="chat-box">
    <input type="checkbox" />
    <label data-expanded="Close Chatbox" data-collapsed="Open Chatbox"></label>
    <div class="chat-box-content">
      <form id="post">
          <div id="messages"></div>
          <input type="text" id="question"></input>
          <input type="submit" value="submit"></input>
      </form>
    </div>
  </ion-content>
</ion-view>
