/* Empty. Add your own CSS if you like */

.col.col-90 ul li{
	display: inline-block;
	border-right: 1px solid black;
	padding: 0px 5px 0px 0px;
}

.col.col-90 ul li:last-child{
	border: none;
}

#list_area{
  min-height: 500px;
}

#chat-box{
  margin-top: 30px;
}

#enter_task input[type="submit"]{
  display: none;
}
#task {
  border: 1px solid black !important;
  width: 80%;
  margin-left: 130px;
  margin-top: 30px;
}